{% extends "layout.html" %}

{% block content %}
    <p><h1>Calculator Page</h1></p>
    <form action="/calculator/output" method="POST">

        <label>Device:</label><input type="text" name="device" 
        placeholder="Ceiling Fan" value="Ceiling Fan">

        <label>State:</label><input type="text" name="state" 
        placeholder="Missouri" value="Missouri">

        <label>Hours:</label><input type="number" name="hours" 
        placeholder="8" value="8">

        <label>Days:</label><input type="number" name="days" 
        placeholder="5" value="5">

        <button>Submit</button>
    </form>
    </form>
{% endblock content %}